*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    font: inherit;
}
:root{
  --clr-body-bg: hsl(0 0% 90%);
  --clr-card-bg: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
}

html{
    color-scheme :dark light;
}
body{
    background: var(--clr-body-bg);
    color: var(--clr-text);
    font-family: system-ui;
    font-size: 2.5 rem;
    line-height: 1.5 rem;
    padding:20 rem 0;
    margin:0;
}
h1,h2,h3{
    color: var(--clr-heading);
    line-height:1.1;
}
img{
    max-width: 100%;
    display: block;
}
.person{
    position : relative;
    max-width: 15rem;
    margin-left: 10rem;
    /* margin-inline : auto; */

}
.person_circle{
    position: absolute;
    inset:auto 0 0;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-inline: auto;
}
.person_container{
    aspect-ratio: 1/1.5;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform 250ms ease;
}
.person_container:hover{
    transform: scale(1.1)
}
.person_img{
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    transition : transform calc(250ms * 1.2) ease;
}
.person_container:hover .person_img{
    transform: scale(1.1) translateY(-1.5rem);
}
.wrapper{
    max-width: 50rem;
    margin-inline: auto;
    padding : 1rem;
}
.site-title{
    font-size: 4rem;
    text-align: center;
}
.section-title{
    font-size: 2rem;
}
section{
    padding-block: 5rem;
}
.diagonal{
    --skew-angle : -5deg;
    --background:linear-gradient(
            45deg,
        #cdb4db,
        #ffc8dd,
        #bde0fe
    );
    position: relative;
    isolation: isolate;
    color: var(--clr-text)
}
.diagonal::after{
    content:'';
    position: absolute;
    z-index:-1;
   background: var(--background);
    inset: 0;
    transform: skewY(var(--skew-angle));
}
.spikes{
    --spikes-color: var(--clr-body-bg);
    --spikes-width: 50px;
    --spikes-height: 10px;
    position: relative;
    background: linear-gradient(
        to right,
        #fdc830,
        #f37335
    );
    color: black;
}
.spikes::before,
.spikes::after{
    content:'';
    position: absolute;
    width: 100%;
    height: var(--spikes-height);
    background: var(--spikes-color);
    -webkit-mask-image:url('triangle.svg');
    -webkit-mask-size: var(--spikes-width) var(--spikes-height);
    webkit-mask-image:url('triangle.svg');
    webkit-mask-size: var(--spikes-width) var(--spikes-height);
}
.spikes::before{
    top: 0;
}
.spikes::after{
    bottom:0;
    transform : rotate(.5turn);
}
.wavy{
    background: linear-gradient(
        to right,
        #00f260,
        #0575e6
    );
 
  --mask:
    radial-gradient(43.15px at 50% 59.20px,#000 99%,#0000 101%) calc(50% - 74px) 0/148px 51% repeat-x,
    radial-gradient(43.15px at 50% -22.2px,#0000 99%,#000 101%) 50% 37px/148px calc(51% - 37px) repeat-x,
    radial-gradient(43.15px at 50% calc(100% - 59.20px),#000 99%,#0000 101%) calc(50% - 74px) 100%/148px 51% repeat-x,
    radial-gradient(43.15px at 50% calc(100% + 22.20px),#0000 99%,#000 101%) 50% calc(100% - 37px)/148px calc(51% - 37px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);

}
.visually-hidden{
    
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.color-picker > fieldset{
    border: 0;
    display: flex;
    gap: 2rem;
    background: #fff;
    padding: 1rem 3rem;
    margin-inline: auto;
    width: fit-content;
    border-radius: 0 0 1rem 1rem;
}
.color-picker input[type="radio"]{
appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}
.color-picker input[type="radio"]:checked{
    background-color: var(--radio-color)
}
.color-picker input[type="radio"]#pink{
    --radio-color: pink;
}
.color-picker input[type="radio"]#green{
    --radio-color: green;
}
.color-picker input[type="radio"]#blue{
    --radio-color: blue;
}
.color-picker input[type="radio"]#light{
    --radio-color: gray;
}
.color-picker input[type="radio"]#dark{
    --radio-color: #232323;
}

:root:has(#pink:checked){
  --clr-body-bg: hsl(310 50% 90%);
  --clr-card-bg: hsl(310 50% 100%);
  --clr-text: hsl(310 50% 15%);
  --clr-heading: hsl(310 50% 25%);
}
:root:has(#blue:checked){
  --clr-body-bg: hsl(209 50% 90%);
  --clr-card-bg: hsl(209 50% 100%);
  --clr-text: hsl(209 50% 15%);
  --clr-heading: hsl(209 50% 25%);
}
:root:has(#green:checked){
  --clr-body-bg: hsl(109 50% 90%);
  --clr-card-bg: hsl(109 50% 100%);
  --clr-text: hsl(109 50% 15%);
  --clr-heading: hsl(109 50% 25%);
}
:root:has(#dark:checked){
  --clr-body-bg: hsl(209 50% 10%);
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
}