*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    font: inherit;
}
:root{
    --body-bg: hsl(0 ,0%, 15%);
}

html{
    color-scheme :dark light;
}
body{
    background : var(--body-bg);
    color: white;
    font-family: system-ui;
    font-size: 2.5 rem;
    line-height: 1.5 rem;
    padding:20 rem 0;
    margin:0;
}
img{
    max-width: 100%;
    display: block;
}
.person{
    position : relative;
    max-width: 15rem;
    margin-left: 10rem;
    /* margin-inline : auto; */

}
.person_circle{
    position: absolute;
    inset:auto 0 0;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-inline: auto;
}
.person_container{
    aspect-ratio: 1/1.5;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform 250ms ease;
}
.person_container:hover{
    transform: scale(1.1)
}
.person_img{
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    transition : transform calc(250ms * 1.2) ease;
}
.person_container:hover .person_img{
    transform: scale(1.1) translateY(-1.5rem);
}
.wrapper{
    max-width: 50rem;
    margin-inline: auto;
    padding : 1rem;
}
.site-title{
    font-size: 4rem;
    text-align: center;
}
.section-title{
    font-size: 2rem;
}
section{
    padding-block: 5rem;
}
.diagonal{
    --skew-angle : -5deg;
    --background:linear-gradient(
            45deg,
        #cdb4db,
        #ffc8dd,
        #bde0fe
    );
    position: relative;
    isolation: isolate;
}
.diagonal::after{
    content:'';
    position: absolute;
    z-index:-1;
   background: var(--background);
    inset: 0;
    transform: skewY(var(--skew-angle));
}
.spikes{
    --spikes-color: var(--body-bg);
    --spikes-width: 50px;
    --spikes-height: 10px;
    position: relative;
    background: linear-gradient(
        to right,
        #fdc830,
        #f37335
    );
    color: black;
}
.spikes::before,
.spikes::after{
    content:'';
    position: absolute;
    width: 100%;
    height: var(--spikes-height);
    background: var(--spikes-color);
    -webkit-mask-image:url('triangle.svg');
    -webkit-mask-size: var(--spikes-width) var(--spikes-height);
    webkit-mask-image:url('triangle.svg');
    webkit-mask-size: var(--spikes-width) var(--spikes-height);
}
.spikes::before{
    top: 0;
}
.spikes::after{
    bottom:0;
    transform : rotate(.5turn);
}
.wavy{
    background: linear-gradient(
        to right,
        #00f260,
        #0575e6
    );
 
  --mask:
    radial-gradient(43.15px at 50% 59.20px,#000 99%,#0000 101%) calc(50% - 74px) 0/148px 51% repeat-x,
    radial-gradient(43.15px at 50% -22.2px,#0000 99%,#000 101%) 50% 37px/148px calc(51% - 37px) repeat-x,
    radial-gradient(43.15px at 50% calc(100% - 59.20px),#000 99%,#0000 101%) calc(50% - 74px) 100%/148px 51% repeat-x,
    radial-gradient(43.15px at 50% calc(100% + 22.20px),#0000 99%,#000 101%) 50% calc(100% - 37px)/148px calc(51% - 37px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);

}
