<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="portfolio.css">
    <title>Parshvi- Portfolio</title>
</head>
<body>
   <main>
   
    <section class="blog-post">
        <header class="blog-heading">
            <h2>Blog Posts</h2>
        </header>
        <main>
        <div class="block-background" onclick="window.open('https://medium.com/coinmonks/soul-bound-tokens-a-gateway-to-decentralised-society-656b0dabcd7f','newwindow');">
            <p>Soul bound tokens -A Gateway to Decentralised Society</p>
        </div>
<div class="block-background"
    onclick="window.open('https://medium.com/coinmonks/external-call-security-in-your-solidity-smart-contract-2d7c0be5e20','newwindow');">
    <p>External Call Security in Your Solidity Smart Contract</p>
</div>
<div class="block-background"
    onclick="window.open('https://medium.com/@parshvisri/promises-in-javascript-25b6f486d5e6','newwindow');">
    <p>Promises in JavaScript</p>
</div>
<div class="block-background"
    onclick="window.open('https://medium.com/coinmonks/bitcoin-white-paper-summary-afd6e5642254','newwindow');">
    <p>BITCOIN White Paper Summary</p>
</div>
</main>
    </section>
   </main>
    <script src="./main.js"></script>

</body>
</html>